---
layout: default
---
<header>
  <!-- <img src="{{ site.favicon }}" style="height: 200px;" alt="deaddotpink"> THIS IS IF I WANT LOGO AT TOP OF HOMEPAGE -->
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<hr>

<footer>
  <a href="https://www.youtube.com/@deaddotpink" target="_blank">youtube.com/@deaddotpink</a><br>
  <a href="https://www.youtube.com/@deaddotpink" target="_blank">youtube.com/@deaddotpink TWO</a>
</footer>
