---
layout: default
---
<header>
  <!-- <img src="{{ site.favicon }}" style="height: 200px;" alt="deaddotpink"> THIS IS IF I WANT LOGO AT TOP OF HOMEPAGE -->
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<hr>

<footer>
  <a href="https://www.youtube.com/@deaddotpink" target="_blank">youtube.com/@deaddotpink</a>

  <div class="social-links">
    <!-- <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a> -->
    <a href="https://www.youtube.com/@deaddotpink" target="_blank">youtube</a>
  </div>
</footer>
