---
layout: default
---
<header>
  <img src="{{ site.favicon }}" style="height: 200px;" alt="deaddotpink">
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<footer>
  <div class="social-links">
    <!-- <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a> -->
    <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
  </div>
</footer>
